/**
 * @author  NazmulHasan
 * @since   1.0
 * @version 1.0
 */

.bnbf_woocommerce_single_product_hide_buy_now .single_add_to_cart_button{
    display: none;
}
.bnbf_woocommerce_card_product_hide_buy_now .add_to_cart_button{
    display: none;
}